.layer-action-bar-header,
.layer-action-bar-footer {
  position: sticky;
  z-index: 2;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: var(--layout-header-background);
  transition: 0.1s;
}
.layer-action-bar-header {
  top: 40px;
}
.layer-action-bar-footer {
  bottom: 0;
}
