.internal-border-flicker-border {
  border-radius: var(--internal-border-flicker-border-width);
  border: var(--internal-border-flicker-border-width) solid
    var(--internal-border-flicker-border-color);
  animation: internal-border-flicker-border-twinkling 1s infinite ease-in-out; /*1秒钟的开始结束都慢的无限次动画*/

  @keyframes internal-border-flicker-border-twinkling {
    /*透明度由0到1*/
    0% {
      border-color: var(--internal-border-flicker-border-color);
      box-shadow: 0 0 10px rgba(0, 255, 0, 0.2),
        inset 0 0 10px rgba(0, 255, 0, 0.1), 0 1px 0 #393;
    }
    100% {
      border-color: #6f6;
      box-shadow: 0 0 25px rgba(0, 255, 0, 0.6),
        inset 0 0 15px rgba(125, 231, 125, 0.4), 0 1px 0 #6f6;
    }
  }
}
