.login-form-background {
  width: 100vw;
  height: 100vh;
  background-image: url('../../../public/background.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  .login-form-main {
    border-radius: 8px;
    width: 30%;
    min-width: 400px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-shadow: 0 0 20px gray;
    padding: 16px;
    backdrop-filter: blur(100px);
    &-title {
      font-size: 24px;
      font-weight: bold;
    }
    &-sub-title {
      font-size: 14px;
      margin-bottom: 24px;
    }
  }
}
