.page-custom-loading {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
}
.content-loading {
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  &-main {
    left: 0;
    top: 0;
    transform: none;
  }
}
.page-custom-loading-wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
}
