@import '../../../../../../index.less';

.design-config-data-detail-title {
  color: @design-config-sub-color;
  position: relative;
  font-size: 14px;
  line-height: 18px;
  margin-top: 20px;
  margin-bottom: 10px;
  :global {
    .ant-badge {
      position: absolute;
      left: -12px;
    }
  }
}
