.layer-manage-content {
  :global {
    .ant-tree-switcher {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .ant-tree-treenode {
      overflow: hidden;
    }
    .ant-tree-node-content-wrapper {
      overflow: hidden;
      padding: 0;
    }
    & .ant-tree-list-holder-inner .ant-tree-treenode.dragging::after {
      border-color: var(--layer-manage-border-color) !important;
    }
    .ant-tree-node-content-wrapper .ant-tree-drop-indicator {
      background-color: var(--layer-manage-border-color) !important;
    }
    .ant-tree-node-content-wrapper .ant-tree-drop-indicator::after {
      border-color: var(--layer-manage-border-color) !important;
    }
  }
}
.layer-manage {
  display: flex;
  flex-direction: column;
  flex: 1;
  &-placeholder {
    width: 1;
    min-height: 50px;
    flex: 1;
    margin-bottom: 4px;
  }
}
