.home-page-action {
  &-title {
    & span {
      font-weight: bold;
    }
  }
  &-description {
    display: inline-block;
    overflow: hidden;
    position: absolute;
  }
  &-button {
    text-align: center;
    left: 0;
    bottom: 0;
    position: absolute;
  }
}

@media only screen and (max-width: 768px) {
  .home-page-action {
    text-align: center;
    &-title {
      margin-bottom: 5vh;
      & > span {
        font-size: 4vw;
      }
    }
    &-description {
      margin-bottom: 3vh;
      font-size: 4vw;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
    &-button {
      :global {
        .ant-btn:nth-of-type(1) {
          margin-right: 5vw;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .home-page-action {
    text-align: right;
    padding: 0 2vw;
    &-title {
      margin-bottom: 1vh;
      & > span {
        font-size: 1.5vw;
      }
    }
    &-description {
      margin-bottom: 3vh;
      font-size: 1.6vw;
      top: 50%;
      transform: translateY(-50%);
      right: 5vw;
      left: -5vw;
    }
    &-button {
      :global {
        .ant-btn:nth-of-type(1) {
          margin-right: 5vw;
        }
      }
    }
  }
}
