.design-page-layer-item {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 24px;
  z-index: 9999;
  opacity: 1;
  visibility: visible;
  &-name {
    flex: 1;
    text-align: left;
    height: 100%;
    line-height: 24px;
    overflow: hidden;
    &-basic {
      user-select: none;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
  &-action {
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
}
