@import '~antd/es/style/themes/default.less';

.page-design-left-tool-bar {
  width: 60px;
  min-width: 60px;
  height: 100%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  top: 0;
  background-color: @layout-header-background;
  .design-left-tool-icon {
    height: 50px;
    line-height: 50px;
    width: 100%;
    margin-bottom: 4px;
  }
  .design-left-tool-icon-n-a-w {
    cursor: not-allowed;
  }
  .design-left-tool-icon-hover:hover {
    color: @menu-dark-highlight-color;
  }
}
