.internal-background-modal-list {
  height: 400px;
  display: flex;
  flex-direction: column;
  &-item {
    width: 100%;
    height: 80px;
    cursor: pointer;
    &-main {
      height: 56px;
      width: 100%;
      transform-origin: center center;
      transition: transform 0.2s;
      &:hover {
        transform: scale(1.01);
      }
    }
    &-label {
      text-align: center;
      line-height: 24px;
      color: white;
      font-size: 12px;
    }
  }
}
.internal-background-render {
  width: 100%;
  height: 100%;
  &-image {
    width: 100%;
    height: 100%;
  }
}
.internal-background-button {
  width: 100%;
  height: 200px;
  position: relative;
  cursor: pointer;
  &-mask {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transition: opacity 0.2s;
    opacity: 0;
    & > span {
      font-size: 40px;
    }
    & > div {
      font-size: 12px;
    }
  }
  &:hover &-mask {
    opacity: 1;
  }
}
