.design-config-default-tab {
  :global {
    .ant-tabs-tab {
      width: auto;
    }
    .ant-tabs-ink-bar {
      right: unset;
      left: 0;
      width: 1px !important;
      background-color: var(--primary-color);
    }
    .ant-tabs-tabpane {
      padding: 0 !important;
    }
    .ant-tabs-content-holder {
      border: none;
    }
  }
  &-title {
    width: 36px;
    align-items: center;
    & > div {
      writing-mode: tb;
    }
    :global {
      .anticon {
        margin: 2px;
      }
    }
  }
}
