.component-panel-thumb-wrapper {
  display: inline-block;
}
.designer-panel-thumb-active {
  position: absolute;
  left: 0;
  top: 0;
  &-item {
    transform: var(--panel-thumb-component-scale);
    transform-origin: var(--panel-thumb-component-transform-origin);
    background-color: var(--primary-color);
  }
}
