.component-image-upload {
  :global {
    .ant-upload-select {
      width: 100% !important;
      height: var(--upload-item-height, 200px) !important;
      margin: 0 !important;
    }
  }
  &-placeholder {
    & > span {
      font-size: 40px;
    }
    & > div {
      font-size: 12px;
    }
  }
}
