.component-image-upload {
  .ant-upload.ant-upload-select-picture-card,
  .ant-upload-list-picture-card-container,
  .ant-upload-list-item-container,
  .ant-upload-select {
    width: 100% !important;
    height: var(--upload-item-height, 200px) !important;
    margin: 0 !important;
  }
  &-placeholder {
    & > span {
      font-size: 40px;
    }
    & > div {
      font-size: 12px;
    }
  }
}
