@import '~antd/es/style/themes/default.less';

.page-design-left-component-list {
  width: 48px;
  min-width: 48px;
  height: 100%;
  top: 0;
  border-right: 1px solid @border-color-base;
  border-top: 1px solid @border-color-base;
  &-content {
    height: 100%;
    overflow: auto;
    :global {
      .ant-menu-item {
        height: 38px !important;
        line-height: 38px !important;
        margin-bottom: 4px !important;
        padding: 0 14px !important;
        :global {
          .ant-menu-title-content {
            display: flex;
            align-items: center;
            height: 100%;
            justify-content: center;
          }
        }
      }
    }
  }
  &-content-border {
    border-left: 1px solid @border-color-base;
  }
}
