.page-design-left-component-list {
  width: 60px;
  min-width: 60px;
  height: 100%;
  top: 0;
  &-content {
    height: 100%;
  }
  &-item {
    height: 50px !important;
    line-height: 50px !important;
    :global {
      .ant-menu-title-content {
        display: flex;
        align-items: center;
        height: 100%;
        justify-content: center;
      }
    }
  }
}
