.design-left-component-list {
  transition-property: width;
  transition-duration: 0.5s;
  margin: 0;
  overflow: hidden;
  &-label {
    width: var(--type-width, 70px);
    flex-shrink: 0;
    background-color: var(--layout-header-background);
    overflow-y: auto;
  }
  &-item {
    line-height: 16px;
    padding: 16px 7px;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
  }
  &-item:not(&-item-active):hover {
    color: white;
  }
  &-item&-item-active {
    color: var(--primary-color);
    background-color: var(--component-background);
  }
  &-main {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
  }
  :global {
    .ant-empty-img-default {
      width: 100%;
    }
  }
  &-item&-disabled {
    cursor: not-allowed;
    pointer-events: none;
  }
  &-item {
    cursor: pointer;
    font-size: 12px;
    position: relative;
    &-title {
      line-height: 2;
    }
    &-icon {
      width: 100%;
      height: 0;
      padding-top: 50%;
      background-repeat: no-repeat;
      background-size: 100%;
      transform-origin: center center;
      background-position: center;
      transition: transform 0.1s;
      &:hover {
        transform: scale(1.1);
      }
    }
    &-disabled-prefix {
      position: absolute;
      z-index: 2;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: not-allowed;
      flex-direction: column;
      & > span {
        font-weight: bold;
      }
    }
  }
  &-item-preview {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    & > img {
      width: 100%;
      max-height: 100%;
    }
  }
}
.design-left-component-list-empty {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
