.design-config-collapse {
  font-size: 12px;
  background-color: transparent;
  :global {
    .ant-collapse-header {
      padding: 0 !important;
      padding-left: 8px !important;
      height: 40px;
      display: flex;
      align-items: center !important;
    }
    .ant-collapse-content-box {
      padding: 0;
    }
    .ant-collapse-item .ant-collapse-item {
      border: none;
    }
  }
}
