@import '~antd/es/style/themes/default.less';

.axis-config {
  :global {
    .ant-tabs-nav {
      width: 70%;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
    .ant-tabs-tab-active,
    .ant-tabs-tab {
      width: 50% !important;
      padding: 6px 16px !important;
    }
    .ant-tabs-tab {
      border: 1px solid @border-color-base !important;
    }
    .ant-tabs-tab-active {
      border-color: @primary-color !important;
    }
  }
}
