.designer-page-main {
  &-horizontal-ruler,
  &-vertical-ruler {
    overflow: hidden;
    z-index: 2;
    position: sticky;
    &-prefix {
      width: 30px;
      background-color: rgba(51, 51, 51);
    }
  }

  &-horizontal-ruler {
    height: 30px;
    top: 0;
    &-prefix {
      height: 30px;
    }
  }
  &-vertical-ruler {
    width: 30px;
    left: 0;
    &-prefix {
      height: 70px;
    }
  }
}
