.design-left-component-list {
  flex: 1;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  &-item {
    cursor: pointer;
    & > div {
      line-height: 2;
    }
  }
}
