@import '~antd/es/style/themes/default.less';

.design-left-component-list {
  // flex: 1;
  transition-property: opacity, width;
  transition-duration: 0.2s, 0.5s;
  opacity: 0;
  width: 0;
  // max-width: 150px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: @layout-header-background;
  border-top: 1px solid @border-color-base;
  border-right: 1px solid @border-color-base;
  margin: 0;
  overflow: auto;
  :global {
    .ant-collapse-header {
      padding: 8px 12px !important;
    }
    .ant-collapse-content {
      background-color: @component-background !important;
    }
  }
  &-item {
    cursor: pointer;
    font-size: 13px;
    & div:nth-of-type(2) {
      line-height: 2;
    }
    & div:nth-of-type(1) {
      width: 100%;
      height: 0;
      padding-top: 50%;
      background-repeat: no-repeat;
      background-size: 100%;
      transform-origin: center center;
      background-position: center;
      transition: transform 0.1s;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
.design-left-component-list-show {
  width: 150px;
  opacity: 1;
  // min-width: 150px;
}
