@import '~antd/dist/reset.css';
@import '~bootstrap-icons/font/bootstrap-icons.css';
@import '~nprogress/nprogress.css';
// @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css");

@font-face {
  font-family: digital-number;
  src: url('../public/font/sa-digital-number.ttf');
}

@keyframes arrow-animation {
  0% {
    transform: translate3d(0, 0, 0);
  }
  25% {
    transform: translate3d(0, 5px, 0);
  }
  50% {
    transform: translate3d(0, 10px, 0);
  }
  75% {
    transform: translate3d(0, 5px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

.home-page-title {
  &::after {
    content: '点击标题开始设计！！！';
    display: block;
    position: relative;
    top: -4px;
    margin: 0 auto;
    animation: arrow-animation 1s linear infinite;
    font-size: 1vw;
  }
}

html {
  scrollbar-width: thin;
}

*,
*:before,
*:after {
  scrollbar-width: inherit;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(99, 99, 99, 0.8) rgba(99, 99, 99, 0.8);
}

// 伪元素无法继承
*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  transition: 0.5s;
}
*::-webkit-scrollbar-thumb {
  background: #434b55;
  border-radius: 4px;
}
*::-webkit-scrollbar-corner {
  background-color: transparent;
}

.zero-scrollbar {
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  scrollbar-width: none;
}

html,
body,
#root {
  height: 100%;
  overflow: hidden;
  background-color: #141414;
  color: rgba(255, 255, 255, 0.85);
}

a {
  color: var(--primary-color);
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
}

@media (max-width: var(--screen-xs, 480px)) {
  .ant-table {
    width: 100%;
    overflow-x: auto;

    &-thead > tr,
    &-tbody > tr {
      > th,
      > td {
        white-space: pre;

        > span {
          display: block;
        }
      }
    }
  }
}

// 兼容IE11
@media screen and(-ms-high-contrast: active), (-ms-high-contrast: none) {
  body .ant-design-pro > .ant-layout {
    min-height: 100vh;
  }
}

// variable

.text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.text-ellipsis-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.text-ellipsis-3 {
  &:extend(.text-ellipsis-2);
  -webkit-line-clamp: 3;
}

// padding
@size-list: {
  2: 2px;
  4: 4px;
  6: 6px;
  8: 8px;
  10: 10px;
  12: 12px;
  14: 14px;
  16: 16px;
  18: 18px;
  20: 20px;
  22: 22px;
  24: 24px;
};

each(@size-list, {
  .p-@{key} {
    padding: @value;
  }
  .p-lr-@{key} {
    padding: 0 @value;
  }
  .p-tb-@{key} {
    padding: @value 0;
  }
  .m-@{key} {
    margin: @value;
  }
  .m-lr-@{key} {
    margin: 0 @value;
  }
  .m-tb-@{key} {
    margin: @value 0;
  }
  .m-l-@{key} {
    margin-left: @value;
  }
  .m-r-@{key} {
    margin-right: @value;
  }
  .m-t-@{key} {
    margin-top: @value;
  }
  .m-b-@{key} {
    margin-bottom: @value;
  }
  .border-r-@{key} {
    border-radius: @value;
  }
  
});

@border-size-list: {
  1: 1px;
  2: 2px;
  3: 3px;
  4: 4px;
};

each(@border-size-list, {
  .border-@{key} {
    border: @value solid var(--border-color-base);
  }
  .border-@{key}-a {
    border: @value solid var(--primary-color);
  }
  .p-tb-@{key} {
    padding: @value 0;
  }
  
});

// box-sizing
.box-sizing-border {
  box-sizing: border-box;
}

// cursor
.c-po {
  cursor: pointer;
}
.c-def {
  cursor: default;
}
.c-n-a {
  cursor: not-allowed;
}

// width
.w-100 {
  width: 100%;
}

.w-100-vw {
  width: 100vw;
}

.h-100 {
  height: 100%;
}
.h-a {
  height: auto !important;
}

.h-100-vh {
  height: 100vh;
}

// line-height
.line-height-2 {
  line-height: 2;
}

// display flex
.dis-flex {
  display: flex;
}
.flex-al-cen {
  align-items: center;
}
// flex: 1
.f-1 {
  flex: 1;
}

.dis-flex-cen {
  &:extend(.dis-flex);
  &:extend(.flex-al-cen);
  justify-content: center;
}

// display inline-block
.dis-in-b {
  display: inline-block;
}

.dis-flex-column {
  &:extend(.dis-flex);
  flex-direction: column;
}

.dis-flex-column-between {
  &:extend(.dis-flex-column);
  justify-content: space-between;
}

.over-hide {
  overflow: hidden;
}

// position
.pos-ab {
  position: absolute;
  left: 0;
  top: 0;
}

.pos-re {
  position: relative;
}

.pos-sti {
  position: sticky;
}

.pos-sti-t {
  &:extend(.pos-sti);
  top: 0;
}

.pos-sti-l {
  &:extend(.pos-sti);
  left: 0;
}

// action icon
.ac-i-size-m {
  font-size: 18px !important;
}

// text-align
.ali-l {
  text-align: left;
}
.ali-cen {
  text-align: center;
}

.ali-r {
  text-align: right;
}

// background
.normal-background {
  background-color: var(--component-background);
}
.normal-color {
  color: var(--primary-color);
}

// css var
body {
  --config-component-height: 24px;
}

// config font-size
.f-b {
  font-weight: bold;
}
.c-f-s {
  font-size: 12px;
}
.c-f-s-big {
  font-size: 14px;
}
.design-config-format-font-size {
  .ant-steps-item-title {
    font-size: 12px;
  }

  .ant-radio-wrapper {
    line-height: var(--config-component-height);
    margin-right: 4px;
    .ant-radio-inner {
      width: 12px;
      height: 12px;
    }
  }
  .ant-checkbox-inner {
    width: 14px;
    height: 14px;
  }

  .ant-slider-handle {
    width: 12px;
    height: 12px;
    margin-top: -4px;
    border-radius: 0;
  }

  .ant-badge-status-text {
    font-size: 12px;
  }
}

// scroll bar
.ps__rail-x,
.ps__rail-y {
  background-color: transparent !important;
}

// transition
.bor-c {
  transition: border-color 0.2s;
}

// ----end

.design-layer-drawer {
  .ant-drawer-content {
    overflow: hidden;
  }
}

:global {
  .ant-drawer-title {
    font-size: 14px;
  }
  .ant-tabs-dropdown-menu-item {
    min-width: 100px;
  }
  .ant-modal-title {
    font-size: 14px;
  }
  .ant-modal-header {
    padding: 8px 12px;
  }
  .ant-tooltip-inner {
    min-height: 28px;
    padding: 3px 4px;
    font-size: 12px;
    line-height: 1.6667;
  }
}

// component rule tree -----start

.component-rule-tree-curve {
  fill: transparent;
  stroke: rgb(115, 124, 128);
  stroke-width: 2;
}

.component-rule-tree-cap {
  stroke: var(--component-background);
  stroke-width: 1px;
  fill: rgb(115, 124, 128);
}

.component-rule-tree-path {
  width: 100%;
  height: 24px;
  overflow: visible;
}

.component-rule-tree-connect {
  position: relative;
  &::before,
  &::after {
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: var(--primary-color);
    position: absolute;
    left: 50%;
    box-sizing: content-box;
    z-index: 1;
  }
  &::before {
    top: 0;
    transform: translateX(-50%) translateY(-50%);
  }
  &::after {
    bottom: 0;
    transform: translateX(-50%) translateY(50%);
  }
}
.component-rule-tree-connect-no-before {
  &::before {
    display: none;
  }
}
.component-rule-tree-connect-no-after {
  &::after {
    display: none;
  }
}

// component rule tree -----end

// component condition -----start
.component-condition-visible {
}
.component-condition-hidden {
  display: none;
}
.component-condition-ease-in-out {
  animation-name: condition-ease-in-out;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}
@keyframes condition-ease-in-out {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

// component condition -----start

// nprogress ----------start

#nprogress .bar {
  background: var(--primary-color);
}
#nprogress .peg {
  box-shadow: 0 0 10px var(--primary-color), 0 0 5px var(--primary-color);
}
#nprogress .spinner-icon {
  border-top-color: var(--primary-color);
  border-left-color: var(--primary-color);
}

// nprogress ----------end

// 下划线动画
.underline-anime-color-white {
  color: white;
}
.underline-anime {
  position: relative;
  font-weight: bold;
  &::after {
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: currentColor;
    transform: scale(0);
    transition: transform 0.5s;
  }
  &:hover {
    color: currentColor;
  }
  &:hover::after {
    transform: scale(1);
  }
}
